body{
  font-family: 'Open Sans', sans-serif;
}
#footer{
  background-color: #292b2c!important;
  color: white;
  height: auto;
  bottom: 0px;
  position: fixed;
  width: 100%;
  text-align: center;
}
